@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.header__navbar__right {
    padding-bottom: 15px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 56px;
    width: 1350px;
    padding: 0px 16px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.705);
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.959) ;
}

.header__navbar-items {
    display: inline-block;
    padding: 8px;
    align-items: center;
}


ul {
    list-style-type: none;
    
}

.logo {
    padding: 18px 14px 18px 16px;
}


.header__navbar-items img {
    height: 33px;
    border-radius: 50%;
    margin-top: 15px;
}

.header__navbar__middle {
    display: flex;
    padding: 2px 6px;
    align-items: center;
}

.header__navbar__middle-input {
    width: 572px;
    height: 40px;
    padding: 8px;
    font-size: medium;
    border-width: 1px 0px 1px 1px;
    border-color: #dfdfdf;
    box-shadow: 0 0 5px #f0efef;
    
}

.header__navbar__middle-input:focus { 
    outline: none;
    border-color: #8088fa;
    box-shadow: 2px #9ecaed;
}

.search-icon {
    background-color:#f2f2f2;
    height: 40px;
    width: 64px;
    padding: 8px 20px;
    border-style: solid;
    border-color: #dfdfdfe0;
    border-width: 1px 1px 1px 1px;
}


.voice {
    background-color: rgb(245, 245, 245);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    padding: 8px;
}

li, a, input, div {
    color: black;
}

.sidebar {
    display: block;
    width: 240px;
    height: 100%; /* chiều cao 100% */
    padding-top: 56px;
    
    
}
.sidebar_items {
    list-style-type: none;
    padding: 15px;
    background-color: #ffffff;
    position:fixed; /* cố định thanh điều hướng cả khi cuộn để đọc website */
    overflow:scroll;/* nếu nội dung quá dài sẽ có thêm thanh cuộn để xem phần còn lại */
    

}

.sidebar_items li a p {
    align-items: center;
    align-content: center;
}

.sidebar ul li:hover {
    background-color: #dfdfdf;
}

a{
    text-decoration: none;
    text-emphasis-color: black;
    
}
.sidebar ul li a {
    display: block;
    color: rgba(0, 0, 0, 0.842);
    padding: 2px 6px;
    text-decoration: none;
    height: 40px;
    font-size:medium;
  }

.sidebar ul li a.active {
    background-color: #cccccc;
    font-weight: bold;
    color: rgb(10, 9, 9);
}

  .active {
    background-color: #cfcfcfb4;
    color: rgb(19, 13, 13);
    }
.container {
    display: flex;
    flex-direction: row;

    }

.recommend-genre {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 56px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.925) ;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.959);
    margin-top: 56px;
    z-index: 1;

}

ul.recommend-genre {
    display: flex;
    flex-direction: row;
    width: 1110px;
    padding: 20px 20px;
    align-items: center;
    z-index: 1;

}

li a.genre-card {
    background-color: rgb(249, 249, 249);
    padding: 6px 10px;
    border-radius: 50px;
    overflow: hidden;
    display: inline;
    font-size: medium;
    border: 1px solid rgba(207, 207, 207, 0.705);
    font-size: 15px;

}

a.genre-card {
    margin: 7px;
    
}

.grid__row {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-left: 8px;
}


.video-home-items {
    height: 236px;
    width: 253px;
    margin: 20px 20px 20px 0;
}


.img-video {
    display: inline-block;
    height: 141px;
    align-items: center;
}

.video-home {
    background-color:rgb(249, 249, 249);
    margin-top: 0;
    margin-top: 56px;
    padding-top: 56px;
    font-size: medium;
    line-height: 20px;
}

.video-home-items-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.video-home-items-logo img {
    border-radius: 50%;
    height: 40px;
    margin: 0px 10px 30px 0;
}

.video-home-items-name .video-home-name {
    padding-bottom: 5px;
    font-size: medium;
}


@media only screen and (max-width: 768px) {
    .input-group {
        width: 100%;
    }
    .container-body {
        margin-left: 1.6em;
        margin-right: 2em;
    }
    iframe {
        height: 400px;
    }
}