@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-body {
    margin: 1em 7em 0em 6em;
}

.navbar {
    background-color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-brand img {
    width: 90px;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    color: black;
}

.avatar-icon img {
    width: 2.1em;
    height: 2.1em;
    border-radius: 90%;
}

.input-group {
    width: 43rem;
}

.input-group>button {
    border: 1px solid #e2e2e2;
    border-radius: 0.1rem;
    padding-left: 1em;
    padding-right: 1em;
}

.input-group>button:hover {
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 2px rgb(136, 136, 136, 0.5);
}

.micro-icon {
    padding: 0.6em 1em;
    border-radius: 90%;
    background-color: #f8f9fa;
    margin-left: 0.5em;
    cursor: pointer;
}

.form-control {
    border-radius: 0.1rem;
}

.form-control:focus {
    border: 1px solid #01579b;
    box-shadow: inset 0px 0px 5px #888;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    align-items: center;
}


/* .nav-item {
    margin-left: 0.5em;
} */

.tooltiptext {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: smaller;
    padding: 0.5em 0.5em;
    border-radius: 2px;
    position: absolute;
    top: 160%;
    left: 0%;
    /* z-index: 1; */
    visibility: hidden;
    white-space: nowrap;
}

.tooltip-item {
    position: relative;
    display: inline-block;
}

.tooltip-item:hover .tooltiptext {
    visibility: visible;
    word-wrap: none;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav-overlay.active {
    display: block;
}

.nav-collapse {
    position: fixed;
    padding-top: 0.55em;
    /* padding-left: 1.5em; */
    top: 0;
    left: 0;
    bottom: 0;
    width: 235px;
    max-width: 100%;
    background-color: #fff;
    z-index: 5;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
}

.nav-collapse.active {
    transform: translateX(0);
}


/* .nav-collapse-list {
    margin-top: 1.5em;
} */

.nav-collapse-link {
    color: #333;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.nav-collapse img {
    width: 100px;
}


/* .nav-collapse ul {
    padding-left: 5px;
} */

.nav-collapse ul li {
    align-items: center;
    padding-left: 5px;
}

nav li .iconify {
    margin-right: 1rem;
}

.icon-bars {
    padding: 5px;
    cursor: pointer;
    border-radius: 90%;
}

.icon-bars:hover {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 5px;
    transition: 1s
}

.desc .avatar-icon img {
    width: 3em;
    height: 3em;
}

.tag {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.tag-box {
    padding: 5px 12px;
    margin-right: 0.5em;
    background-color: #e2e2e2;
    border-radius: 35px;
    border: 1px solid #c5c5c5;
}

.tag-box.active {
    background-color: black;
    color: #fff;
}

.miniVideo {
    margin-bottom: 0.6em;
}

.miniVideo img {
    width: 11em;
    height: 6.1em;
}

.miniVideo a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.type-small {
    font-size: 0.8em;
    color: #757575;
}

.title {
    margin-top: 0.5em;
}

.title span a {
    font-size: 12px;
    text-decoration: none;
}

.title h5 {
    font-weight: 400;
}

.video-detail {
    color: #757575;
    font-size: 0.95em;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.title li {
    margin-left: 2em;
}

.title li .iconify {
    margin-right: 0.5em;
}

.sub button {
    background-color: #CC0000;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
}

.channel h6 {
    margin-bottom: 0;
    font-size: 0.95rem;
}

.content {
    margin-top: 1em;
}

hr {
    background-color: #c5c5c5;
    border: 0.4px solid #c5c5c5;
}

.user-comment {
    margin-top: 1.5em;
}

.user-comment img {
    width: 2.8em;
    height: 2.8em;
    border-radius: 90%;
}

.user-comment input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.3px solid rgb(197, 197, 197, 0.4);
    background-color: #f9f9f9;
    width: 91%;
    margin-left: 1em;
}

.user-comment h4 {
    font-size: 0.9em;
}

.user-comment .type-small {
    font-weight: 400;
}

.notify .row {
    margin: 0;
}

.notify {
    background-color: #f9f9f9;
}

.notify-header {
    background-color: #fff;
}

.notify-header p {
    margin-bottom: 0;
}

.channel-icon {
    width: 3.3em;
    height: 3.3em;
    border-radius: 90%;
}

.img-video {
    width: 6em;
    height: 3.5em;
}

@media only screen and (max-width: 768px) {
    .input-group {
        width: 100%;
    }
    .container-body {
        margin-left: 1.6em;
        margin-right: 2em;
    }
    iframe {
        height: 400px;
    }
}